
*.pyc
*.pyc
dpdb/problems/__pycache__/sharpsat.cpython-37.pyc
*.pyc
core
*.pyc
*.pyc
tool/__pycache__/clingoext.cpython-37.pyc
lp2normal-2.18
tool/__pycache__/clingoext.cpython-37.pyc
dpdb/problems/__pycache__/sat_util.cpython-37.pyc
dpdb/problems/__pycache__/sat_util.cpython-37.pyc
tool/__pycache__/clingoext.cpython-38.pyc
tool/__pycache__/clingoext.cpython-38.pyc
